body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    overflow-x: hidden;
}header {
    background-color: #4CAF50;
    color: white;
    padding: 1rem;
    text-align: center;
}nav ul {
    list-style-type: none;
    padding: 0;
}nav ul li {
    display: inline;
    margin: 0 10px;
}nav ul li a {
    color: white;
    text-decoration: none;
}main {
    padding: 20px;
}main section{
    float:left;
    width:100vw;
    margin-left:2vw;
}h2 {
    color: #313131;
    font:normal 22px arial;
    margin-bottom:0px;
}.main-text{
    float:left;
    font:normal 16px arial;
    width:40vw;
}.img-home{
    border-radius:5px;
    width:25vw;
    float:right;
    margin-right:10vw;
    margin-top:0;
}footer {
    text-align: center;
    padding: 1rem;
    background-color: #4CAF50;
    color: white;
    clear: both;
    bottom: 0;
    width: 100%
}section ul{
    float:left;
    height:200px;
    width:40vw;
}.causes-text, .events-text{
    font:normal 16px arial;
    width:40vw;
}span{
    font:bold 17px arial
}#second-section{
    height:400px;
}main section div{
    width:40vw;
    float:left;
}

@media (max-width: 600px) {
    nav ul li {
        display: block;
        margin: 10px 0;
    }
}
